@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --dark: rgb(47, 68, 128);
  --blue: #00b4d8;
  --darkBlue: #0077b6;

  --c1: rgb(47, 68, 128);
  --c2: #90e0ef;

  --left-color: var(--c1);
  --right-color: var(--c2);
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
div {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
}

a {
  color: white;
  text-decoration: none;
}

.hero {
  background-image: url(/Users/frederikaasland/Library/CloudStorage/OneDrive-Vikenfylkeskommune/IT1/Programmering/IT1/JS/Tredje-Innlevering/Bilder/spaceBackground.png);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

body {
  background-color: var(--dark);
  background-size: cover;
}

header {
  display: flex;
  height: 10vh;
  background-color: transparent;
  gap: 80px;
  position: absolute;
  z-index: 3;
}

#headerGrid {
  display: grid;
  grid-template-columns: 1fr 1020px 5fr 5fr;
  grid-template-rows: 50px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

#firstSection {
  height: 100vh;
}

#mainBtnDiv {
  display: flex;
  align-items: center;
  position: relative;
  width: 400px;
  margin: 0 auto;
  margin-block: 220px;
  height: 130px;
  background: #060c21;
  border-radius: 6px;
}

#mainBtnDiv:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -1;
}

#mainBtnDiv:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
}

#mainBtnDiv:before,
#mainBtnDiv:after {
  background: linear-gradient(235deg, #00aeff, #000000, #007bff);
}

#mainBtn {
  font-size: 50px;
  padding: 30px;
  background-color: transparent;
  border: transparent;
  color: lightgray;
  width: inherit;
  font-weight: 300;
}

/* #mainBtDiv.active {
  font-size: 50px;
  padding: 30px;
  background-color: transparent;
  border: transparent;
  color: lightgray;
  width: inherit;
  font-weight: 300;
} */

#div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  grid-column: 1/2;
  margin-left: 10px;
}
#div2 {
  grid-column: 3/4;
}
#div3 {
  grid-column: 4/5;
}

/* #mainSection {
  height: 70vh;
  background-color: #98cedb;
} */

.side {
  display: grid;
  height: 100vh;
  overflow: hidden;
  place-items: center;
  position: absolute;
  width: 100%;
}

.side .tittel {
  font-family: "Montserrat", sans-serif;
  font-size: 7vw;
  font-weight: 800;
  margin: 0px 10vw;
  width: 80vw;
}

#left-side {
  background-color: var(--left-color);
  width: 60%;
  z-index: 2;
}

#right-side {
  background-color: var(--right-color);
}

.side .fancyFont {
  font-family: "Lobster", cursive;
  font-size: 1.8em;
  line-height: 0.6em;
}

#left-side .tittel {
  color: white;
}

#left-side .fancyFont .leftFancyFontSide {
  color: var(--right-color);
}

#right-side .tittel {
  color: var(--dark);
}

#right-side .fancyFont {
  color: white;
}
