@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
div {
  color: white;
  font-family: Lato;
  font-weight: 550;
}

a {
  color: white;
  text-decoration: none;
}

.hero {
  background-image: url(/Users/frederikaasland/Library/CloudStorage/OneDrive-Vikenfylkeskommune/IT1/Programmering/IT1/JS/Tredje-Innlevering/Bilder/spaceBackground.png);
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
}

body {
  background-size: cover;
}

header {
  display: flex;
  height: 10vh;
  background-color: transparent;
  gap: 80px;
}

#headerGrid {
  display: grid;
  grid-template-columns: 1fr 1020px 5fr 5fr;
  grid-template-rows: 50px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

#firstSection {
  height: 100vh;
}

/* #mainBtnDiv {
  display: flex;
  align-items: center;
  position: relative;
  width: 400px;
  margin: 220px auto 0; /* Justerer avstanden over elementet */
/* height: 130px;
  background: #060c21;
  border-radius: 6px;
} */

/* #mainBtnDiv:before,
#mainBtnDiv:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
} */

/* #mainBtnDiv:before,
#mainBtnDiv::after {
  background: linear-gradient(235deg, #00aeff, #000000, #007bff);
}

#mainBtnDiv:after {
  background: #fff;
  z-index: -2;
  filter: blur(140px);
} */

/* #mainBtn {
  font-size: 50px;
  padding: 30px;
  background-color: transparent;
  border: transparent;
  color: lightgray;
  width: inherit;
  font-weight: 300;
} */

/* #mainBtDiv.active {
  font-size: 50px;
  padding: 30px;
  background-color: transparent;
  border: transparent;
  color: lightgray;
  width: inherit;
  font-weight: 300;
} */

#div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  grid-column: 1/2;
  font-weight: 300;
}
#div2 {
  grid-column: 3/4;
  font-weight: 300;
}
#div3 {
  grid-column: 4/5;
  font-weight: 300;
}

#mainSection {
  height: 70vh;
  background-color: lightgray;
}
